.NavBar {
    display: flex;
  font-size: 1.25rem;
}

.linkOnNav {
  margin-left: 3rem;
  line-height: 30px;
  display: block;
  text-align: center;
}
.brand {
  color: antiquewhite;
  font-size: 2rem;
}
