@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');
.contentContainer {
    height: 850px;
}
.quote {
    color: rgb(0,0,0,0.5);
    margin: 1rem auto 10px auto;
    font-size: 2rem;
    font-style: italic;
    opacity: 90%;
    text-align: center;
    font-family: Lora;
}
.quoteAuthor {
    font-style: oblique;
    font-size: 1.5rem;
    text-align: right;
    font-family: Lora;
    margin-right: 20%;
}
.frontFooter{
    text-align: center;
    background-color: #fafbfc;
    height: 4rem;
    line-height: 4rem;
}
.lineBreak {
    margin-top: 4rem;
    width: 70vh;
}